body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
  
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h4 {
  font-weight: 500;
  margin: 0;
}

#root {
  background-color:#EAEAEA;
  height: 100vh;
  padding-top: 20px;
  overflow: auto;
}

.main {
  margin: 0px 20%;
  position: relative;

  @media only screen and (min-width: 901px) {
    display: inherit;
  }
  @media only screen and (max-width: 900px) {
    display: none;
  }
  @media only screen and (max-width: 1600px) {
    margin: 0px 10%;
  }
  @media only screen and (max-width: 1300px) {
    margin: 0px 5%;
  }
  @media only screen and (max-width: 1000px) {
    margin: 0px 2.5%;
  }

  &.mobile {
    margin: 10px 0;

    @media only screen and (max-width: 900px) {
      display: inherit;
    }
    @media only screen and (min-width: 901px) {
      display: none;
    }
  }
}

.flex {
  display: flex;

  &.marginTB20 {
    margin: 20px 0;
  }

  &.wrap {
    flex-wrap: wrap;
  }
}