.tweet {
    &__container {
        display: flex;
        padding: 0px 40px 0px 5px;
    }

    &__img-container {
        margin: 20px;
    }

    &__image {
        border-radius: 50%;
    }

    &__info {
        &--name {
            font-size: 20px;
            font-weight: 600;
            margin: 20px 0;
        }

        &--text {
            font-size: 18px;
        }
    }
}

.tweet__container:nth-child(even) {
    background-color: #EAEAEA;
}